<%= flash[:alert] %>

<h1>CODEBASE BOOKS</h1>
<h2>ログイン</h2>

<%=form_with url: signin_path, scope: :session, local: true do |user|%>
  <div>
    <%= user.label :メール： %>
    <%= user.text_field :mail, name: 'user[mail]'%>
  </div>
  <div>
    <%= user.label :パスワード %>
    <%= user.password_field :password, name: 'user[password]', id: 'pass'%>
      <%= label_tag :show_password do %>
        <%= check_box_tag :show_password, 1, false, onchange: "document.getElementById('pass').type = (this.checked) ? 'text' : 'password';" %>
        パスワードを表示する
      <% end %>c
  </div>
  <div>
    <%= user.submit 'ログインする' %>
  </div>
<%end%>
<p> アカウントがありませんか？<%= link_to "アカウント作成はこちら", signup_path %></p>