<% if @user.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1>CODEBASE BOOKS</h1>
<h2>新規登録</h2>

<%=form_with url: "/signup" do |user|%>
  <div>
    <%= user.label :メール： %>
    <%= user.text_field :mail, name: 'user[mail]'%>
  </div>
  <div>
    <%= user.label :名前： %>
    <%= user.text_field :name, name: 'user[name]'%>
  </div>
  <div>
    <%= user.label :パスワード： %>
    <%= user.text_field :password, name: 'user[password]',id: 'newpass'%>
      <%= label_tag :show_password do %>
        <%= check_box_tag :show_password, 1, false, onchange: "document.getElementById('newpass').type = (this.checked) ? 'text' : 'password';" %>
        パスワードを表示する
      <% end %>
  </div>
  <div>
    <%= user.submit '登録' %>
  </div>
<%end%>
<p><%= link_to "アカウントがある方はここからサインイン", signin_path %></p>