<h1>CODEBASE BOOKS</h1>
<h2>新規登録</h2>
<%= form_with model: @user, url: signup_path do |user| %>
  <%= render 'error_messages', object: @user %>
  
  <div>
    <%= user.label :mail %>
    <%= user.text_field :mail %>
  </div>
  <div>
    <%= user.label :name %>
    <%= user.text_field :name %>
  </div>
  <div>
    <%= user.label :password %>
    <%= user.password_field :password, id: 'newpass' %>
    <%= label_tag :show_password do %>
      <%= check_box_tag :show_password, 1, false, onchange: "document.getElementById('newpass').type = (this.checked) ? 'text' : 'password';" %>
      パスワードを表示する
    <% end %>
  </div>
  <div>
    <%= user.submit '登録' %>
  </div>
<% end %>
<p><%= link_to "アカウントがある方はここからサインイン", signin_path %></p>
