<h3>本の詳細 > <%= @book.title %></h3>
	<div>
		<%= image_tag "/images/noImage.jpg" %>
		<h2><%= @book.title %></h2>
	</div>

<%= form_with model: Lending do |form| %>
	<%= form.hidden_field :book_id, :value => @book.id %>
	<div>
		<%= form.date_field :start_date %>から
	</div>
	<div>
		<%= form.date_field :end_date %>まで
	</div>
	<div>
		<%= form.submit "借りる" %>
	</div>
<% end %>