<h1>Show</h1>

・ステータス
・貸出日
・返却日
・submit:借りる
・submit:予約
・


<%# <%= @book.title %> %>
<%# <%= @book.image_name %>  %>
<%# 
<%= @lending.start_date %>
<%# <%= @lending.end_date %> %> 


<%# <%= render "form", book: @book %> %>



    <%# <p>
        <strong>貸出日:</strong>
        <%= books.start_date %>
        <%# <%= books.end_date %>
    <%# </p> %> %>
    