<h3>本の詳細 > <%= @book.title %></h3>
	<div>
		<% if @book.image_name %>
			<%= image_tag "/images/#{@book.image_name}" %>
		<% else %>
			<%= image_tag "/images/noImage.jpg" %>
		<% end %>
		<h2><%= @book.title %></h2>
    <% if @lend %>
      <p>貸出中</p>
      <p><%= @lend.end_date %>から貸出可能です</p>
    <% else %>
      <p>貸出可能</p>
    <% end %>
	</div>

<%= form_with model: Lending do |form| %>
	<%= form.hidden_field :book_id, :value => @book.id %>
	<div>
		<%= form.date_field :start_date %>から
	</div>
	<div>
		<%= form.date_field :end_date %>まで
	</div>
	<div>
      <%= form.submit "借りる" %>
	</div>
<% end %>