<h1>借りている本一覧　＞　<%= @lending_book.book.title %></h1>
<% if @lending_book.book.image_name %><%# 画像がデータベースにあればその画像を表示、なければデフォルト画像を表示%>
  <%= image_tag "/images/#{@lending_book.book.image_name}" %>
<% else %>
  <%= image_tag "/images/noImage.jpg" %>
<% end %>
<p><%= @lending_book.book.title %></p>
<p>現在借りています</p>
<%# Lending %>
<%= form_with method: :patch, model: @lending_book do |f| %>
<%= f.hidden_field :id, :value => @lending_book.id %>
<%= f.hidden_field :statuses, :value => false %>
<%= f.submit "返却する" %>
<% end %>

<p><%= @lending_book.end_date %>まで借りています</p>
<% if @lending_book.end_date < Date.today %>
  <p>返却日が過ぎています！</p>
  <p>早く返却しないとジュリさんが追いかけてくるので注意してください！</p>
<% end %>